:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
    background-color: var(--light-grayish-blue);
    font-family: 'Manrope';
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-size: 13px;
  }

  .main {
    max-height: 32rem;
    max-width: 20.43rem;
    background-color: #fff;
    display:grid;
    position: relative;
    border-radius: 1rem;
  }

  .picture {
    width: 100%;
    height: 12.5rem;
    background: url(images/drawers.jpg);
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
  }

  .article {
    display: grid;
    gap: 1rem;
    padding: 2rem 1.7rem;
  }

  .title {
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
  }

  .paragraph {
    line-height: 20px;
    letter-spacing: .12px;
    font-weight: 500;
    color: var(--desaturated-dark-blue);
  }

  .footer {
    padding: 1rem 1.5rem;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
  }

  .share {
    position: absolute;
    background-color: var(--very-dark-grayish-blue);
    width: 100%;
    height: 3.5rem;
    bottom: 0;
    transform: translateY(100%);
    max-height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 1rem 1rem;
    padding: 0 1.7rem;
    opacity: 0;
  }

  .share-links {
    display: flex;
    gap: 1rem;
  }

  .share-links span {
    text-transform: uppercase;
    color: var(--grayish-blue);
    letter-spacing: 5px;
    line-height: 2;
    font-weight: 500;
  }

  .share-links svg{
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
  }

  .author {
    display: grid;
    grid-template-columns: 2rem auto;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template: "hero name"
                    "hero date";
    max-height: 2.5rem;
  }

  .author img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    grid-area: hero;
  }

  .author .name {
    grid-area: name;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: var(--very-dark-grayish-blue);
  }

  .author .date {
    grid-area: date;
    line-height: 20px;
    letter-spacing: 0.12px;
    color: var(--grayish-blue);
  }

  .share-icon {
    background-color: var(--light-grayish-blue);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    cursor: pointer;
  }

  ion-icon {
    color: #fff;
  }

  .share .share-icon {
    background-color: var(--desaturated-dark-blue);
  }
  .share .share-icon path{
    fill: #fff;
  }

  .slide-top {
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom {
	        animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


  @keyframes slide-top {
    0% {
              transform: translateY(100%);
              opacity: 0;
    }
    100% {
              transform: translateY(0);
              opacity: 1;
    }
  }

  @keyframes slide-out-bottom {
    0% {
              transform: translateY(0);
              opacity: 1;
    }
    100% {
              transform: translateY(100%);
              opacity: 0;
    }
  }

  @media (min-width: 49rem) {
        .main {
            min-width: 45.625rem;
            display: grid;
            grid-template-columns: 17.8rem auto;
            grid-template: "hero article"
                            "hero footer";
        }

        .picture {
            grid-area: hero;
            min-width: 17.8rem;
            height: auto;
            border-radius: 1rem 0 0 1rem;
        }

        .article {
            grid-area: article;
        }

        .footer {
            grid-area: footer;
        }

        .share {
            justify-content: center;
            width: 15rem;
            border-radius: 1rem;
            right: -5rem;
            bottom: 8.4rem;
            transform: translateY(-100%);
            display: flex;
            align-items: center;
        }

        .share::after {
            content: '';
            border-width: 13px;
            border-style: solid;
            border-color: var(--very-dark-grayish-blue) transparent transparent;
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%)

        }

        .share .share-icon {
            display: none;
        }
  }
  


  